body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
    width: 150px;
    height:150px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
    width:100px;
}


.container{
    max-width: 800px;
    margin: 0 auto;
    color: #961717;
    font-family: sans-serif;
    padding-left: 31px;
    padding-right: 33px;

}

